.photo {
  background: var(--color-primary);
  width: 22rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  position: relative;
  left: calc(50%-11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
}

.photoDiv {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  /* align-items: center; */
  min-height: 100vh;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
